<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Shop | Porto - Responsive HTML5 Template 4.4.0</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- content/vendor CSS -->
    <link rel="stylesheet" href="~/content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/profile.css">
    <link rel="stylesheet" href="~/content/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/content/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/content/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/content/vendor/owl.carousel/assets/owl.themecontent/css.default.min.css">
    <link rel="stylesheet" href="~/content/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme content/css -->
    <link rel="stylesheet" href="~/content/css/theme.css">
    <link rel="stylesheet" href="~/content/css/theme-elements.css">
    <link rel="stylesheet" href="~/content/css/theme-blog.css">
    <link rel="stylesheet" href="~/content/css/theme-shop.css">
    <link rel="stylesheet" href="~/content/css/theme-animate.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/content/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/content/css/custom.css">

    <!-- Head Libs -->
    <script src="~/content/vendor/modernizr/modernizr.min.js"></script>

</head>
<body>

    <div class="body">
        <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo">
                                <a href="@Url.Action("Index","Customer")">
                                    <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="~/content/img/logo-default-slim.png">
                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                          
                            <div class="header-row">
                                <div class="header-nav">
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                @{
                                                    if (Session["UserId"] != null)
                                                    {
                                                        <li class="dropdown dropdown-mega">
                                                            <a class="" href="@Url.Action("ShowProfile","Customer",new { userId = Convert.ToInt32(Session["UserId"])})">
                                                                Profile
                                                            </a>

                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="" href="@Url.Action("Logout","Customer")">
                                                                Logout
                                                            </a>

                                                        </li>
                                                        <li class="dropdown dropdown-mega dropdown-mega-shop" id="headerShop">
                                                            <a class="" href="@Url.Action("ShowCart","Customer",new { userId = Convert.ToInt32(Session["UserId"])})">
                                                                <i class="fa fa-user"></i>Show Cart
                                                            </a>
                                                            @*<ul class="dropdown-menu">
                                                                    <li>
                                                                        <div class="dropdown-mega-content">
                                                                            <table class="cart">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td class="product-thumbnail">
                                                                                            <a href="shop-product-sidebar.html">
                                                                                                <img width="100" height="100" alt="" class="img-responsive" src="img/products/product-1.jpg">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td class="product-name">
                                                                                            <a href="shop-product-sidebar.html">Photo Camera<br><span class="amount"><strong>$299</strong></span></a>
                                                                                        </td>
                                                                                        <td class="product-actions">
                                                                                            <a title="Remove this item" class="remove" href="#">
                                                                                                <i class="fa fa-times"></i>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="actions" colspan="6">
                                                                                            <div class="actions-continue">
                                                                                                <button type="submit" class="btn btn-default">View All</button>
                                                                                                <button type="submit" class="btn pull-right btn-primary">Proceed to Checkout <i class="fa fa-angle-right ml-xs"></i></button>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </li>
                                                                </ul>*@
                                                        </li>

                                                    }
                                                    else
                                                    {
                                                        <li class="dropdown dropdown-mega">
                                                            <a class="" href="@Url.Action("LoginSignup","Customer")">
                                                                Login Or Signup
                                                            </a>

                                                        </li>
                                                    }
                                                }
                                               </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-ribbon">
                        <span>Get in Touch</span>
                    </div>
                    <div class="col-md-3">
                        <div class="newsletter">
                            <h4>Newsletter</h4>
                            <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

                            <div class="alert alert-success hidden" id="newsletterSuccess">
                                <strong>Success!</strong> You've been added to our email list.
                            </div>

                            <div class="alert alert-danger hidden" id="newsletterError"></div>

                           
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Latest Tweets</h4>
                        <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "", "count": 2}'>
                            <p>Please wait...</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-details">
                            <h4>Contact Us</h4>
                            <ul class="contact">
                                <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</p></li>
                                <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-789</p></li>
                                <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h4>Follow Us</h4>
                        <ul class="social-icons">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="index.html" class="logo">
                                <img alt="Porto Website Template" class="img-responsive" src="img/logo-footer.png">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <p>© Copyright 2015. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-4">
                            <nav id="sub-menu">
                                <ul>
                                    <li><a href="page-faq.html">FAQ's</a></li>
                                    <li><a href="sitemap.html">Sitemap</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- content/vendor -->
    <script src="~/content/vendor/jquery/jquery.min.js"></script>
    <script src="~/content/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/content/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/content/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="~/content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/content/vendor/common/common.min.js"></script>
    <script src="~/content/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="~/content/vendor/jquery.stellar/jquery.stellar.min.js"></script>
    <script src="~/content/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/content/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/content/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/content/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/content/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/content/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/content/vendor/vide/vide.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/content/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/content/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/content/js/theme.init.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12345678-1', 'auto');
        ga('send', 'pageview');
    </script>
     -->

</body>
</html>
